body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.dashboard {
    padding: 10px;
    text-align: center;
}

table {
    margin: 0; 
    text-align: left;
}

.result-box {
    background: white;
    width: 60%;
    margin: auto;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    text-align: left;
}

.result-left p,
.result-right p {
    margin: 3px 0;
}

.charts-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.chart-box {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.table-box {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.table-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.table-box table {
    width: 100%;
    border-collapse: collapse;
}

.table-box th {
    background-color: #f5f5f5;
    padding: 12px;
    text-align: left;
}

.table-box td {
    padding: 12px;
}

.table-box th,
.table-box td {
    border: 1px solid #ddd;
}

.table-box tr:hover {
    background-color: #f9f9f9;
}

.back-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 8px 14px;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, sans-serif;
}