* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #348EAA;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.card {
    background: #f0edf0;
    border-radius: 28px;
    display: flex;
    width: 100%;
    max-width: 860px;
    min-height: 520px;
    overflow: hidden;
    box-shadow: 0 24px 60px rgba(0,0,0,0.18);
}

.form-side {
    flex: 1;
    padding: 52px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 32px;
}

.subtitle {
    font-size: 13px;
    color: #888;
    margin-bottom: 18px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.input-wrap input {
    width: 100%;
    padding: 16px 18px;
    border-radius: 14px;
    border: none;
    background: #fff;
    font-size: 14px;
}

.btn-create {
    width: 100%;
    padding: 16px;
    background: #348EAA;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 15px;
    cursor: pointer;
}

.login-link {
    font-size: 13px;
    color: #999;
    margin-top: 14px;
}

.login-link a {
    color: #348EAA;
    text-decoration: none;
}

.image-side {
    width: 46%;
}

.image-side img {
    width: 100%;
    height: 100%;
}

.btn-google {
    width: 100%;
    padding: 16px;
    margin-top: 12px;
    background: white;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: 'DM Sans', sans-serif;
    transition: 0.3s ease;
}

.btn-google:hover {
    background: #f7f7f7;
}

.btn-google img {
    width: 20px;
    height: 20px;
}

.back-btn {
    text-decoration: none;
    color: #348EAA;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
}

.back-btn:hover {
    opacity: 0.7;
}