<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
</head>
<body>

<div class="page-header">
    <a href="{{ url_for('index2') }}" class="back-btn"> < Back </a>
</div>

<div class="history-container">

    <div class="page-header">
        <h1>📋 History</h1>
    </div>

    <h2 class="single-history-title">Single Question History</h2>


<div class="history-grid">

    {% for item in single_questions %}

    <div class="history-card">
        <div class="badge">
            {{ item.level_name }}
        </div>

        <h3>{{ item.question_text }}</h3>

        <small>📅 {{ item.created_at }}</small>
    </div>

    {% endfor %}

</div>

    <h2 class="file-history-title">File History</h2>

<div class="history-grid">

    {% for file in uploaded_files %}

    <div class="history-card file">
        <div class="badge file-badge">📄 FILE</div>

        <h3>{{ file.filename }}</h3>

        <p class="question-count">
            {{ file.question_count }} Questions Analyzed
        </p>

        <small>📅 {{ file.uploaded_at }}</small>

        <a href="/dashboard/{{ file.id }}">
            <button class="view-btn">View Results →</button>
        </a>
    </div>

    {% endfor %}

</div>

</div>

</body>
</html>