
<!DOCTYPE html>
<html>
<head>
    <title>Bloom Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<!-- NAVBAR -->
<div class="navbar">

    <div class="logo">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
    </div>

    <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Analyzer</a>
    </div>

    <div class="nav-buttons">
        <button>Log In</button>
        <button>Sign Up</button>
    </div>

</div>

<h1>Rule-Based Web Examination Question Analysis System Using Bloom’s Taxonomy</h1>

<div class="container">

    <p class="subtitle">Enter Your Question to Analyze</p>

    <form action="/analyze" method="POST" enctype="multipart/form-data">

        <div class="input-wrapper">

            <textarea 
                name="question" 
                placeholder="What do you want to analyze?" 
                ></textarea>

            <label for="pdfUpload" class="upload-btn">+</label>

            <input type="file" id="pdfUpload" name="pdf_file" accept=".docx,.pdf,.txt">

        </div>

        <button type="submit">Analyze Question</button>

    </form>

{% if results %}

<div class="result-box">

    <h2>File Analysis Results</h2>

    <table border="1">

        <tr>
            <th>No.</th>
            <th>Question</th>
            <th>Bloom Level</th>
        </tr>

        {% for item in results %}

        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.question }}</td>
            <td>{{ item.level }}</td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endif %}


{% if question and level %}

<div id="result">

    <h2>Question Analysis Result</h2>

    <p>
        <strong>Question:</strong>
        {{ question }}
    </p>

    <p>
        <strong>Bloom Level:</strong>
        {{ level }}
    </p>

    {% if q_type %}
    <p>
        <strong>Type:</strong>
        {{ q_type }}
    </p>
    {% endif %}

</div>

{% endif %}
</div>

{% if error %}
<p style="color:red;">
    {{ error }}
</p>
{% endif %}

<!-- BLOOM TAXONOMY SECTION -->
<div class="bloom-info">

    <div class="info-text">
        <h2>What is Bloom’s Taxonomy?</h2>
        <p>
            Bloom’s Taxonomy is a classification system used to define and distinguish 
            different levels of human cognition — such as remembering, understanding, 
            applying, analyzing, evaluating, and creating.
        </p>
    </div>

    <div class="info-image">
        <img src="{{ url_for('static', filename='bloompyramid.png') }}" alt="Bloom Taxonomy">
    </div>

</div>

</body>
</html>
